{{template "base" .}}

{{define "content"}}
<div class="container mt-3">
    <div class="row justify-content-center">

        <div class=" col-lg-6 col-sm-12">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/ameneties/architecture.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/food/breakfast2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/suites/large-room.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
                <h3>Middle Rooms</h3>
                <p><b><em>The Family Room</em></b>. More than just a standard room, this room offers more comfort to the
                    smaller
                    family. This room offers a sofa, a fifty inch TV, two queen beds, a mini fridge, and a full sized
                    bathing area.</p>
                <p><b><em>Business Room</em></b>. Still looking to work in peace, but also want a larger area to
                    yourself? You may conduct your work in peace, and benefit from the larger
                    office space, along with a queen bed.
                </p>
            </div>
        </div>
    </div>
    {{end}}

    {{define "js"}}
    <script type="text/javascript">


    </script>
    {{end}}