{{template "base" .}}

{{define "content"}}

{{$res := index .Data "reservation"}}

<div class="container">
    <div class="row d-flex">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1 class="mt-5">Reservation Summary</h1>

            <table class="table table-striped">
                <thead>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{$res.FirstName}} {{$res.LastName}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{$res.EmailAddress}}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{$res.PhoneNumber}}</td>
                    </tr>
                    <tr>
                        <td>Arrival:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Departure:</td>
                        <td></td>
                    </tr>
                </tbody>
                </thead>
            </table>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

{{end}}

{{define "js"}}

{{end}}