{{template "base" .}}

{{define "content"}}
<div class="container mt-3">
    <div class="row justify-content-center">

        <div class=" col-lg-6 col-sm-12">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/ameneties/architecture.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/food/breakfast2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/suites/large-room.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h3>Single Rooms</h3>
            <p><b><em>The Solo</em></b>. If you're simply here to enjoy yourself whilst on a
                business trip, and don't plan on spending much time indoors, we recommend this room. The
                standard room is equiped with a desk, mini-fridge, queen bed, and a shower.</p>
            <p><b><em>The Office</em></b>. Looking to get work done? We recommend this room. It is similar to the
                standard,
                with
                additions such as it's private acoustics, and luxury desk. The room is designed to be especially
                private, in that no sound will travel through
                the walls, so you can work in peace.</p>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
<script type="text/javascript">


</script>
{{end}}